
.App {
  display: flex;
}

.calender {
  position: fixed;
  width: 340px;
  height: 100vh;
  overflow-y: auto;
  box-shadow:inset 0 0 30px gray;
}

.events {
  position: relative;
  left: 330px;
  width:75%;
}

.add-event{
  display: flex;
  justify-content: center;

}

.add-event form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(11, 83, 1);
}

.edit-event{
  width: 100%;
  margin-top: 6vh;
}

/* Table styles */
.t-head{
  background-color: rgb(127, 224, 127);
}


.t-head th:nth-child(1),.t-row td:nth-child(1),.t-row,.t-head th:nth-child(2){
  border-inline: 2px solid rgb(204, 248, 210);
}

.t-row,.t-row td:nth-child(1){
  border-bottom: 2px solid rgb(204, 248, 210);
}


